# ==============================
# Compilación C++
# ==============================

# Ejecutables
*.out


# ==============================
# Imágenes generadas (outputs)
# ==============================
images/outputs/
